workflow-reczzowNafleYBAjb.json
{"name":"[n8n] Advanced Telegram Support Ticket Management Workflow","nodes":[{"parameters":{"content":"## Use **Config Bot** to setup your telegram details, like:\n1- Telegram Group ID (Don't forget add bot as admin)\n2- Telegram Channel ID (Don't forget add bot as admin)\n3- Your telegram Bot Token. (Generate through @BotFather)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Setup data & filter & route to the correct Side.\n0- None of them - Soon - Wait V2\n1- Chat Type (`Private`)\n2- Chat Type (`Supergroup`)\n3- Chat Type (`Channel`)\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Remember:\n* Do not make your support group public. Every message sent in the group on various topics will be forwarded to the user's ticket.\n* There is no need to promote your broadcasting channel; the main reason for the channel is to organize and broadcast messages.\n* You can host a Redis database without any coding/server management skills through Coolify.io.\n* In the next version, I will add the **edit messages** feature, where the forwarded messages will be updated with the new edited one.\n\n## Why use this method?\n* If you deal with Telegram P2P, anyone can delete messages from both sides. If you run a business, then one of your clients may delete all messages, causing you to lose the history. This solution prevents people from deleting messages; every message forwarded into the support group will not be possible to delete by the sender.\n* Team collaboration: Why share one account when you can convert the whole group into a ticketing system? With this project, you can invite all your coworkers to reply and provide support to your clients through Telegram.\n* Integrate with third-party services? Using N8N will pave the way for integrating your Telegram users' data into a CRM. In V2, we will enable the option to force new users to share their leads before receiving support.","height":1416.261500302191,"width":629.040241216464,"color":7},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-188.74721229253146,463]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.isEmpty() }}","operation":"regex","value2":"true"}]}},"name":"New User ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[716.2527877074685,660]},{"parameters":{"jsCode":"function escapeRedisJsonSyntax(value) {\n  if (typeof value === 'string') {\n    return value.replace(/[\"\\\\/]/g, '\\\\{{ $json }}');\n  }\n  return value;\n}\n\nconst outputItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const escapedItem = { TG_USER_: {} };\n\n  for (const key in item) {\n    const value = item[key];\n    if (Array.isArray(value)) {\n      escapedItem.TG_USER_[key] = [escapeRedisJsonSyntax(value[0])];\n    } else if (typeof value === 'object') {\n      flattenObject(value, escapedItem.TG_USER_, key);\n    } else {\n      escapedItem.TG_USER_[key] = escapeRedisJsonSyntax(value);\n    }\n  }\n\n  outputItems.push(escapedItem);\n}\n\nfunction flattenObject(obj, result, prefix) {\n  for (const key in obj) {\n    const newKey = prefix ? `${prefix}_${key}` : key;\n    const value = obj[key];\n    if (typeof value === 'object') {\n      if (Array.isArray(value)) {\n        result[newKey] = [escapeRedisJsonSyntax(value[0])];\n      } else {\n        flattenObject(value, result, newKey);\n      }\n    } else {\n      result[newKey.replace('json_message_', '').replace('json_', '')] = escapeRedisJsonSyntax(value);\n    }\n  }\n}\n\nreturn outputItems;\n"},"name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[-143.74721229253146,1060]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.TG_USER_.removeField('BotToken').removeField('pairedItem_item').removeField('Support_Group_ID') }}","include":"none","options":{}},"name":"Bot-Fields","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-3.747212292531458,1060]},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"name":"Create Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1196.2527877074685,540]},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"name":"Save Topic ID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1376.2527877074685,540]},{"parameters":{"operation":"get","propertyName":"result","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","keyType":"hash","options":{}},"name":"Get User Chat Topic","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1316.2527877074685,720]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"name":"Forward New Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1676.2527877074685,720],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.error.message }}","operation":"contains","value2":"thread not found"}]}},"name":"IF No Topic Created","type":"n8n-nodes-base.if","typeVersion":1,"position":[1256.2527877074685,1120]},{"parameters":{"url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/createForumTopic?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"]}}&name={{ encodeURIComponent(('['+$('Bot-Fields').item.json.from_first_name +'] - [id:'+ $('Bot-Fields').item.json.chat_id +']'))}}&icon_color=9367192&icon_custom_emoji_id=5417915203100613993","options":{}},"name":"ReCreate Topic (Chat Ticket)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1436.2527877074685,1020]},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={\"message_thread_id\":{{ $json.result.message_thread_id }}}","keyType":"hash"},"name":"ReSave Topic ID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1596.2527877074685,1020]},{"parameters":{"content":"## Re Create New Topic\n**Sometimes** in support group may the team delete or close a ticket (topic) in case of that this steps will create topic again for the user, and store the new ticket id (topic/thread ID).","height":466.5190319644644,"width":734.3067601294108,"color":3},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1236.2527877074685,920]},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"name":"Update User Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[976.2527877074685,720]},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id }}","value":"={{ $item(\"0\").$node[\"Bot-Fields\"].json }}","keyType":"hash"},"name":"Save User Data","type":"n8n-nodes-base.redis","typeVersion":1,"position":[980,540]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.message.chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Support_Group_ID }}"}]}},"name":"Support Forum","type":"n8n-nodes-base.if","typeVersion":1,"position":[496.25278770746854,1040]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Fields').item.json.message_thread_id }}","operation":"isNotEmpty"},{"value1":"={{ $('Bot-Fields').item.json.reply_to_message_is_topic_message }}","operation":"regex","value2":"true"},{"value1":"={{ $('Bot-Fields').item.json.is_topic_message }}","operation":"regex","value2":"true"}]}},"name":"From Ticket","type":"n8n-nodes-base.if","typeVersion":1,"position":[696.2527877074685,1020]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $json[\"reply_to_message_forward_from_id\"] || $('Bot-Fields').item.json.reply_to_message_forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}&from_chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"name":"Forward Support Reply To User","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[896.2527877074685,1000]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.forum_topic_created_name.isNotEmpty() }}","operation":"regex","value2":"true"}]}},"name":"IF Topic Created","type":"n8n-nodes-base.if","typeVersion":1,"position":[696.2527877074685,1240]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/forwardMessage?chat_id={{ $('Bot-Config').item.json[\"Support_Group_ID\"] }}&message_thread_id={{ $json[\"result\"][\"message_thread_id\"] }}&from_chat_id={{ $('Bot-Fields').item.json[\"chat_id\"] }}&message_id={{ $('Bot-Fields').item.json[\"message_id\"] }}","options":{}},"name":"Forward New Message to the recrated topic","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1756.2527877074685,1020]},{"parameters":{},"name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1756.2527877074685,1220]},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-{{ $json.chat_id }}"},"name":"Check User in Database","type":"n8n-nodes-base.redis","typeVersion":1,"position":[536.2527877074685,660],"notesInFlow":true,"notes":"Search Key"},{"parameters":{"content":"## Support Side\n**This Part** is meant to forward replies that sent by support (members in the group)","height":473,"width":747.4790739390617,"color":5},"name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[456.25278770746854,920]},{"parameters":{"chatId":"={{ $json.forum_topic_created_name.match(/\\[id:(\\d+)\\]/)[1] }}","text":"A new ticket has been created for you. Please wait while one of our support team members becomes available to reply.","additionalFields":{"appendAttribution":false}},"name":"Send User Ticket Created Notification","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[896.2527877074685,1220]},{"parameters":{"content":"## User Side\n**This Part** is meant to save user data on a RAM database which is fast, and in same time forward the message to support after creating a new ticket (Topic) dedciated for the user id in the support group.","height":422,"width":1505.8917941911832,"color":3},"name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"fields":{"values":[{"name":"BotToken","stringValue":"6743208281:AAGHB04K7I4XLePxzE3LfZZAvPSYg95ucpY"},{"name":"Support_Group_ID","stringValue":"-1002132342078"},{"name":"Boradcast_Channel_ID","stringValue":"-1002001662284"}]},"options":{}},"name":"Bot-Config","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[240,600]},{"parameters":{"updates":["message","channel_post"],"additionalFields":{}},"name":"Telegram-Bot","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-123.74721229253146,600],"webhookId":"d8b773ab-aee9-494b-8749-f0aa80032871"},{"parameters":{"dataType":"string","value1":"={{ $json.chat_type || $json.channel_post_sender_chat_type }}","rules":{"rules":[{"operation":"regex","value2":"private","output":1},{"operation":"regex","value2":"supergroup","output":2},{"operation":"regex","value2":"channel","output":3}]},"fallbackOutput":0},"name":"1st","type":"n8n-nodes-base.switch","typeVersion":1,"position":[136.25278770746854,1060]},{"parameters":{"operation":"keys","keyPattern":"=TG-USER-*"},"name":"Check User in Database1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[738.2527877074685,1580],"notesInFlow":true,"notes":"Search Key"},{"parameters":{"batchSize":29,"options":{}},"name":"Split In Batches1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1218.2527877074685,1580],"notesInFlow":true,"notes":"Telegram Limitation 29/sec"},{"parameters":{"amount":3,"unit":"seconds"},"name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1618.2527877074685,1540],"webhookId":"9f87deed-d502-46d3-8c85-ce99552a0441"},{"parameters":{"jsCode":"let response = items[0].json; // get the Redis response\nlet newItems = []; // to store the new items\n\nfor(let key in response) {\n    if(response.hasOwnProperty(key)) {\n        newItems.push({\n            json: {\n                user: response[key]\n            }\n        });\n    }\n}\n\nreturn newItems;\n"},"name":"Format Users","type":"n8n-nodes-base.code","typeVersion":1,"position":[878.2527877074685,1580]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $('Bot-Config').item.json.BotToken }}/copyMessage?chat_id={{ $('Split In Batches1').item.json[\"user\"][\"chat_id\"] }}&from_chat_id={{ $('Bot-Config').item.json[\"Boradcast_Channel_ID\"] }}&message_id={{ $('Bot-Config').item.json[\"channel_post\"][\"message_id\"] }}","options":{}},"name":"Broadcast Channel Post into Users","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1438.2527877074685,1560],"onError":"continueErrorOutput"},{"parameters":{"operation":"set","key":"=TG-USER-{{ $('Bot-Fields').item.json.chat_id || $('Split In Batches1').item.json.user.chat_id }}","value":"={\"Blocked\":{{ '1' }}}","keyType":"hash"},"name":"Set Blocked Member","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1618.2527877074685,1700]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Bot-Config').item.json.channel_post.sender_chat.id }}","operation":"regex","value2":"={{ $('Bot-Config').item.json.Boradcast_Channel_ID }}"}]}},"name":"IF Verified Channel","type":"n8n-nodes-base.if","typeVersion":1,"position":[558.2527877074685,1600]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.user.Blocked }}","operation":"notRegex","value2":"1"}]}},"name":"Filter Blocked Users","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1038.2527877074685,1580]},{"parameters":{"content":"## Channel Side (Broadcasting)\n**This Part** where the support of brand broadcasting message to all previous users who used this bot before.","height":460.58353708231465,"width":1515.2969659863388,"color":6},"name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[456.25278770746854,1420]}],"connections":{"New User ?":{"main":[[{"node":"Save User Data","type":"main","index":0}],[{"node":"Update User Data","type":"main","index":0}]]},"Format":{"main":[[{"node":"Bot-Fields","type":"main","index":0}]]},"Bot-Fields":{"main":[[{"node":"1st","type":"main","index":0}]]},"Create Topic (Chat Ticket)":{"main":[[{"node":"Save Topic ID","type":"main","index":0}]]},"Save Topic ID":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"Get User Chat Topic":{"main":[[{"node":"Forward New Message","type":"main","index":0}]]},"Forward New Message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"IF No Topic Created","type":"main","index":0}]]},"IF No Topic Created":{"main":[[{"node":"ReCreate Topic (Chat Ticket)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"ReCreate Topic (Chat Ticket)":{"main":[[{"node":"ReSave Topic ID","type":"main","index":0}]]},"Update User Data":{"main":[[{"node":"Get User Chat Topic","type":"main","index":0}]]},"Save User Data":{"main":[[{"node":"Create Topic (Chat Ticket)","type":"main","index":0}]]},"Support Forum":{"main":[[{"node":"From Ticket","type":"main","index":0}]]},"From Ticket":{"main":[[{"node":"Forward Support Reply To User","type":"main","index":0}],[{"node":"IF Topic Created","type":"main","index":0}]]},"IF Topic Created":{"main":[[{"node":"Send User Ticket Created Notification","type":"main","index":0}]]},"ReSave Topic ID":{"main":[[{"node":"Forward New Message to the recrated topic","type":"main","index":0}]]},"Forward Support Reply To User":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Check User in Database":{"main":[[{"node":"New User ?","type":"main","index":0}]]},"Send User Ticket Created Notification":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Forward New Message to the recrated topic":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Bot-Config":{"main":[[{"node":"Format","type":"main","index":0}]]},"Telegram-Bot":{"main":[[{"node":"Bot-Config","type":"main","index":0}]]},"1st":{"main":[[],[{"node":"Check User in Database","type":"main","index":0}],[{"node":"Support Forum","type":"main","index":0}],[{"node":"IF Verified Channel","type":"main","index":0}]]},"Split In Batches1":{"main":[[{"node":"Broadcast Channel Post into Users","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"Check User in Database1":{"main":[[{"node":"Format Users","type":"main","index":0}]]},"Format Users":{"main":[[{"node":"Filter Blocked Users","type":"main","index":0}]]},"Broadcast Channel Post into Users":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Set Blocked Member","type":"main","index":0}]]},"Set Blocked Member":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]},"IF Verified Channel":{"main":[[{"node":"Check User in Database1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter Blocked Users":{"main":[[{"node":"Split In Batches1","type":"main","index":0}]]}},"active":"false","settings":{"executionOrder":"v1","timezone":"Europe/Berlin","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"errorWorkflow":""},"staticData":"","pinData":{},"meta":{"templateCredsSetupCompleted":false},"tags":[{"createdAt":"2024-04-09T20:34:13.165Z","updatedAt":"2024-04-09T20:34:13.165Z","id":"Q29kZQ","name":"Code"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"SHR0cFJlcXVlc3Q","name":"HttpRequest"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"UmVkaXM","name":"Redis"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"Tm9PcA","name":"NoOp"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"VGVsZWdyYW0","name":"Telegram"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"VGVsZWdyYW1BcGk","name":"TelegramApi"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"VGVsZWdyYW1UcmlnZ2Vy","name":"TelegramTrigger"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"U3BsaXRJbkJhdGNoZXM","name":"SplitInBatches"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"RmlsdGVy","name":"Filter"},{"createdAt":"2024-04-09T20:34:13.166Z","updatedAt":"2024-04-09T20:34:13.166Z","id":"dGVtcGxhdGVz","name":"templates"}]}